<div class="container">
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <%= form_for(@hero, :html => {:class => 'col-md-10 col-md-offset-1 form-horizontal form-inline', :role => 'form'}) do |f| %>
              <% if @hero.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

                    <ul>
                      <% @hero.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <fieldset>
                <legend>
                  <div class="col-md-12">
                    <div class="col-md-9" style="padding-left: 0%"><%= t 'heros.show.fieldset_info_general' %></div>
                    <div class="col-md-3">
                      <%= link_to @hero, :class => "btn-lg" do %>
                          <i class="glyphicon glyphicon-eye-open"></i>
                      <% end %> |
                      <%= link_to heros_path, :class => "btn-lg" do %>
                          <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
                      <% end %>

                    </div>
                  </div>
                </legend>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-7">
                      <%= f.text_field :nombre, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_nombre' %></span>
                    </div>
                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :puntos, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_puntos' %></span>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend><div class="col-md-9"><%= t 'heros.show.fieldset_atributos' %></div></legend>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-3">
                      <%= f.number_field :combate, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_combate' %></span>
                    </div>
                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.text_field :impacto, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_impacto' %></span>
                    </div>
                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :fuerza, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_fuerza' %></span>
                    </div>
                  </div>

                </div>
                <br/>

                <div class="row">
                  <div class="col-md-12">

                    <div class="input-group col-md-3">
                      <%= f.number_field :herida, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_herida' %></span>
                    </div>

                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :defensa, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_defensa' %></span>
                    </div>

                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :ataque, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_ataque' %></span>
                    </div>
                  </div>
                </div>
                <br/>

                <div class="row">
                  <div class="col-md-12">

                    <div class="input-group col-md-3 ">
                      <%= f.number_field :valor, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_valor' %></span>
                    </div>

                    <div class="input-group col-md-7 col-md-offset-1">
                      <%= f.select :ejercito_id, options_from_collection_for_select(Ejercito.all, :id, :nombre, @hero.ejercito_id), {:include_blank => true}, {:class => 'form-control'} %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_ejercito' %></span>
                    </div>
                  </div>
                </div>
                <br/>

                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-3">
                      <%= f.number_field :p_poder, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_p_poder' %></span>
                    </div>

                    <div class="input-group  col-md-3 col-md-offset-1">
                      <%= f.number_field :p_voluntad, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_p_voluntad' %></span>
                    </div>

                    <div class="input-group  col-md-3 col-md-offset-1">
                      <%= f.number_field :p_destino, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_p_destino' %></span>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend><div class="col-md-9"><%= t 'heros.show.fieldset_otros' %></div></legend>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-12">
                      <%= f.text_area :descripcion, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'heros.index.campo_descripcion' %></span>
                    </div>
                  </div>
                </div>
                <br/>

                <div class="actions">
                  <%= f.submit "#{t 'heros.index.actualizar_heroe'}", :class => 'btn btn-default', :style => 'width:100%; background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%); background-repeat: repeat-x;' %>
                </div>
              </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>