<style>
    .input-group[class*="col-"] {
        float: left;
    }
</style>
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1><%= t '.titulo_lista_heroes' %></h1>
      </div>
      <div class="col-md-4">
        <div class="col-md-6 col-md-offset-1">
          <%= link_to new_hero_path, :class => 'btn btn-sm btn-default ' do %>
              <i class="glyphicon glyphicon-plus">
                <%= t '.nuevo_heroe' %>
              </i>
          <% end %>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <%= link_to root_path, :class => "btn btn-sm btn-default" do %>
              <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="pull-left col-md-12">

      <%= form_tag({:controller => "heros", :action => "index"}, :method => :get, :id => "query_form") do %>

          <div class="media">
            <div class="media-body">
              <fieldset>
                <div class="row">
                  <legend>
                    <div class="col-md-9"><%= t 'tropas.index.buscador' %></div>
                  </legend>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-5">
                      <%= text_field_tag(:name, params[:name], :autocomplete => "off", :class => "form-control", :placeholder => "#{t 'tropas.index.buscador'}") %>
                      <span class="input-group-addon"><%= t 'tropas.index.campo_nombre' %></span>
                    </div>

                    <div class="input-group col-md-5 col-md-offset-2">
                      <%= select_tag :ejercito, options_from_collection_for_select(Ejercito.all, :id, :nombre), {:include_blank => true, :class => 'form-control'} %>
                      <span class="input-group-addon"><%= t 'tropas.index.campo_ejercito' %></span>
                    </div>

                  </div>
                </div>
                <br/>

                <div class="input-group col-md-2 ">
                  <%= submit_tag "Buscar", :class => "btn btn-default" %>
                </div>
              </fieldset>
            </div>
          </div>
      <% end %>

    </div>
  </div>
  <hr/>

  <div class="row">
    <table class="table table-responsive table-striped">
      <thead>
      <tr>
        <th><%= t '.campo_nombre' %></th>
        <th><%= t '.campo_puntos' %></th>
        <th><%= t '.campo_combate' %></th>
        <th><%= t '.campo_impacto' %></th>
        <th><%= t '.campo_fuerza' %></th>
        <th><%= t '.campo_defensa' %></th>
        <th><%= t '.campo_ataque' %></th>
        <th><%= t '.campo_herida' %></th>
        <th><%= t '.campo_valor' %></th>
        <th><%= t '.campo_p_poder' %></th>
        <th><%= t '.campo_p_voluntad' %></th>
        <th><%= t '.campo_p_destino' %></th>
        <th><%= t '.campo_ejercito' %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @heros.each do |hero| %>
          <tr>
            <td><%= hero.nombre %></td>
            <td><%= hero.puntos %></td>
            <td><%= hero.combate %></td>
            <td><%= hero.impacto %></td>
            <td><%= hero.fuerza %></td>
            <td><%= hero.defensa %></td>
            <td><%= hero.ataque %></td>
            <td><%= hero.herida %></td>
            <td><%= hero.valor %></td>
            <td><%= hero.p_poder %></td>
            <td><%= hero.p_voluntad %></td>
            <td><%= hero.p_destino %></td>
            <td><%= hero.ejercito %></td>
            <td><%= link_to hero do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
              <% end %>
            </td>
            <td><%= link_to edit_hero_path(hero) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
            </td>
            <td><%= link_to hero, method: :delete, data: {confirm: "#{t '.confirmacion' }"} do %>
              <i class="glyphicon glyphicon-remove"></i>
      <% end %>
      </td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <div class="row pull-right">
      <%= will_paginate @heros, :inner_window => 1 %>
    </div>
  </div>
</div>


<br>
