<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <div style="float: left">
            <h4 class="media-heading">
              <b><%= @hero.nombre %>: <%= @hero.puntos %> <%= t '.campo_puntos' %></b>
            </h4>
          </div>
          <div style="float: right">
            <%= link_to edit_hero_path(@hero) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to heros_path do %>
                <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
            <% end %>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-1 texto_centrado">
              <strong><%= t 'heros.index.campo_combate' %></strong><br/>
              <%= @hero.combate %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'heros.index.campo_impacto' %></strong><br/>
              <%= @hero.impacto %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'heros.index.campo_fuerza' %></strong>
              <br/>
              <%= @hero.fuerza %>
            </div>

            <div class="col-md-1 texto_centrado"><strong><%= t 'heros.index.campo_defensa' %></strong>
              <br/>
              <%= @hero.defensa %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'heros.index.campo_ataque' %></strong>
              <br/>
              <%= @hero.ataque %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'heros.index.campo_herida' %></strong>
              <br/>
              <%= @hero.herida %>
            </div>

            <div class="col-md-1 texto_centrado"><strong><%= t 'heros.index.campo_valor' %></strong>
              <br/>
              <%= @hero.valor %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t '.campo_p_poder' %></strong>
              <br/>
              <%= @hero.p_poder %>
            </div>

            <div class="col-md-1 texto_centrado" style="white-space: nowrap;">
              <strong><%= t '.campo_p_voluntad' %></strong>
              <br/>
              <%= @hero.p_voluntad %>
            </div>

            <div class="col-md-1 texto_centrado" style="white-space: nowrap;">
              <strong><%= t '.campo_p_destino' %></strong>
              <br/>
              <%= @hero.p_destino %>
            </div>

          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <%= @hero.descripcion %>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <legend><%= t '.fieldset_equipo_disponible' %></legend>
                <ul>
                  <% @equipo_disponible.each do |ed| %>
                      <li><%= ed.nombre %>:<%= t('equipos.show.campo_puntos', count: ed.puntos.to_i ) %>  <%= ed.descripcion %></li>
                  <% end %>
                </ul>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

