<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">

          <div style="float: left">
            <h4 class="media-heading">
              <%= @ejercito.nombre %>
            </h4>
          </div>
          <div style="float: right">
            <%= link_to edit_ejercito_path(@ejercito) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to ejercitos_path do %>
                <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
            <% end %>
          </div>
          <hr/>
          <p>
            <%= @ejercito.descripcion %>
          </p>


        </div>
      </div>
    </div>
  </div>
</div>