<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <div style="float: left">
            <h4 class="media-heading">
              <b><%= @reglas_especiale.nombre %></b>
            </h4>
          </div>
          <div style="float: right">
            <%= link_to edit_reglas_especiale_path(@reglas_especiale) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to reglas_especiales_path do %>
                <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
            <% end %>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <%= @reglas_especiale.descripcion %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

