<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center" style="float: left">
      <h2><%= t '.titulo_editar_tropas' %></h2>
    </div>
  </div>
<br />
  <%= render 'form' %>
</div>
