<style>
    .input-group[class*="col-"] {
        float: left;
    }
</style>

<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1><%= t '.titulo_lista_tropas' %></h1>
      </div>
      <div class="col-md-4">
        <div class="col-md-6 col-md-offset-1">
          <%= link_to new_tropa_path, :class => 'btn btn-sm btn-default ' do %>
              <i class="glyphicon glyphicon-plus">
                <%= t '.nueva_tropa' %>
              </i>
          <% end %>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <%= link_to root_path, :class => "btn btn-sm btn-default" do %>
              <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-left col-md-12">

      <%= form_tag({:controller => "tropas", :action => "index"}, :method => :get, :id => "query_form") do %>

          <div class="media">
            <div class="media-body">
              <fieldset>
		<div class="row">
                <legend>
                  <div class="col-md-9"><%= t '.buscador' %></div>
                </legend>
		</div> 
               <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-5">
                      <%= text_field_tag(:name, params[:name], :autocomplete => "off", :class => "form-control", :placeholder => "#{t '.buscador'}") %>
                      <span class="input-group-addon"><%= t 'tropas.index.campo_nombre' %></span>
                    </div>

                    <div class="input-group col-md-5 col-md-offset-2">
                      <%= select_tag :ejercito, options_from_collection_for_select(Ejercito.all, :id, :nombre), {:include_blank => true, :class => 'form-control'} %>
                      <span class="input-group-addon"><%= t 'tropas.index.campo_ejercito' %></span>
                    </div>

                  </div>
                </div>
                <br />
                <div class="input-group col-md-2 ">
                  <%= submit_tag "Buscar", :class => "btn btn-default" %>
                </div>
              </fieldset>
            </div>
          </div>
      <% end %>

    </div>
  </div>
  <hr/>
  <div id="result">
    <div class="row">
      <table class="table table-responsive table-striped">
        <thead>
        <tr>
          <th><%= t '.campo_nombre' %></th>
          <th><%= t '.campo_puntos' %></th>
          <th><%= t '.campo_combate' %></th>
          <th><%= t '.campo_impacto' %></th>
          <th><%= t '.campo_fuerza' %></th>
          <th><%= t '.campo_defensa' %></th>
          <th><%= t '.campo_ataque' %></th>
          <th><%= t '.campo_herida' %></th>
          <th><%= t '.campo_valor' %></th>
          <th><%= t '.campo_ejercito' %></th>
          <th colspan="3"><%= t 'common.acciones' %></th>
        </tr>
        </thead>

        <tbody>
        <% @tropas.each do |tropa| %>
            <tr>
              <td><%= tropa.nombre %></td>
              <td><%= tropa.puntos %></td>
              <td><%= tropa.combate %></td>
              <td><%= tropa.impacto %></td>
              <td><%= tropa.fuerza %></td>
              <td><%= tropa.defensa %></td>
              <td><%= tropa.ataque %></td>
              <td><%= tropa.herida %></td>
              <td><%= tropa.valor %></td>
              <th><%= tropa.ejercito %></th>
              <td><%= link_to tropa do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                <% end %>
              </td>
              <td><%= link_to edit_tropa_path(tropa) do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>
              <td><%= link_to tropa, method: :delete, data: {confirm: "#{t '.confirmacion' }"} do %>
                <i class="glyphicon glyphicon-remove"></i>
        <% end %>
        </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row pull-right">
        <%= will_paginate @tropas, :inner_window => 1 %>
      </div>
    </div>
  </div>
</div>

