<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <div style="float: left">
            <h4 class="media-heading">
              <b><%= @tropa.nombre %>: <%= @tropa.puntos %> <%= t '.campo_puntos' %></b>
            </h4>
          </div>
          <div style="float: right">
            <%= link_to edit_tropa_path(@tropa) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to tropas_path do %>
                <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
            <% end %>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_combate' %></strong>
              <br/>
              <%= @tropa.combate %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_impacto' %></strong>
              <br/>
              <%= @tropa.impacto %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_fuerza' %></strong>
              <br/>
              <%= @tropa.fuerza %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_defensa' %></strong>
              <br/>
              <%= @tropa.defensa %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_ataque' %></strong>
              <br/>
              <%= @tropa.ataque %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_herida' %></strong>
              <br/>
              <%= @tropa.herida %>
            </div>

            <div class="col-md-1 texto_centrado">
              <strong><%= t 'tropas.index.campo_valor' %></strong>
              <br/>
              <%= @tropa.valor %>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <%= @tropa.descripcion %>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <legend><%= t '.fieldset_equipo_disponible' %></legend>
                <ul>
                  <% @equipo_disponible.each do |ed| %>
                      <li><%= ed.nombre %>:<%= t('equipos.show.campo_puntos', count: ed.puntos.to_i ) %>  <%= ed.descripcion %></li>
                  <% end %>
                </ul>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
