<div class="container">
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <%= form_for(@lista_ejercito, :html => {:class => 'col-md-10 col-md-offset-1 form-horizontal form-inline', :role => 'form'}) do |f| %>
              <% if @lista_ejercito.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@lista_ejercito.errors.count, "error") %> prohibited this lista_ejercito from
                      being saved:</h2>

                    <ul>
                      <% @lista_ejercito.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <fieldset>
                <legend>
                  <div class="col-md-12">
                    <div class="col-md-9" style="padding-left: 0%"><%= t 'ejercitos.edit.fieldset_info_general' %></div>
                    <div class="col-md-3">
                      <%= link_to @lista_ejercito, :class => "btn-lg" do %>
                          <i class="glyphicon glyphicon-eye-open"></i>
                      <% end %> |
                      <%= link_to lista_ejercitos_path, :class => "btn-lg" do %>
                          <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
                      <% end %>

                    </div>
                  </div>
                </legend>

                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-3">
                      <%= f.text_field :nombre, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'lista_ejercitos.index.campo_nombre' %></span>
                    </div>
                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :puntos_maximos, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'lista_ejercitos.index.campo_puntos_máximos' %></span>
                    </div>

                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :puntos, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'lista_ejercitos.index.campo_puntos' %></span>
                    </div>
                  </div>
                </div>
                <br />

                <div class="actions">
                  <%= f.submit "#{t 'lista_ejercitos.index.actualizar_lista'}", :class => 'btn btn-default', :style => 'width:100%; background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%); background-repeat: repeat-x;' %>
                </div>
              </fieldset>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
