<style>
    .input-group[class*="col-"] {
        float: left;
    }
</style>
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1><%= t '.titulo_lista_lista_ejercitos' %></h1>
      </div>
      <div class="col-md-4">
        <div class="col-md-6 col-md-offset-1">
          <%= link_to new_lista_ejercito_path, :class => 'btn btn-sm btn-default ' do %>
              <i class="glyphicon glyphicon-plus">
                <%= t '.nueva_lista' %>
              </i>
          <% end %>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <%= link_to root_path, :class => "btn btn-sm btn-default" do %>
              <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-responsive table-striped">
      <thead>
      <tr>
        <th><%= t '.campo_nombre' %></th>
        <th><%= t '.campo_puntos_máximos' %></th>
        <th><%= t '.campo_puntos' %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @lista_ejercitos.each do |lista_ejercito| %>
          <tr>
            <td><%= lista_ejercito.nombre %></td>
            <td><%= lista_ejercito.puntos_maximos %></td>
            <td><%= lista_ejercito.puntos %></td>
            <td><%= link_to lista_ejercito do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
              <% end %>
            </td>
            <td><%= link_to edit_lista_ejercito_path(lista_ejercito) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
            </td>
            <td><%= link_to lista_ejercito, method: :delete, data: {confirm: "#{t '.confirmacion' }"} do %>
              <i class="glyphicon glyphicon-remove"></i>
      <% end %>
      </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="row pull-right">
      <%= will_paginate @lista_ejercitos, :inner_window => 1 %>
    </div>
  </div>
</div>


<br>

