<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <div style="float: left">
            <h4 class="media-heading">
              <b><%= @lista_ejercito.nombre %>: <%= t('.campo_puntos', count: @lista_ejercito.puntos.to_i ) %></b>
            </h4>
          </div>
          <div style="float: right">
            <%= link_to edit_lista_ejercito_path(@lista_ejercito) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to lista_ejercitos_path do %>
                <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
            <% end %>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>