<%= form_for(@equipo_disponible) do |f| %>
  <% if @equipo_disponible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipo_disponible.errors.count, "error") %> prohibited this equipo_disponible from being saved:</h2>

      <ul>
      <% @equipo_disponible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_miniatura %><br>
    <%= f.text_field :tipo_miniatura %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
