<p id="notice"><%= notice %></p>

<h1>Listing Equipo Disponibles</h1>

<table>
  <thead>
    <tr>
      <th>Tipo miniatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipo_disponibles.each do |equipo_disponible| %>
      <tr>
        <td><%= equipo_disponible.tipo_miniatura %></td>
        <td><%= link_to 'Show', equipo_disponible %></td>
        <td><%= link_to 'Edit', edit_equipo_disponible_path(equipo_disponible) %></td>
        <td><%= link_to 'Destroy', equipo_disponible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipo disponible', new_equipo_disponible_path %>
