<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo miniatura:</strong>
  <%= @equipo_disponible.tipo_miniatura %>
</p>

<%= link_to 'Edit', edit_equipo_disponible_path(@equipo_disponible) %> |
<%= link_to 'Back', equipo_disponibles_path %>
