<div class="container">
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">
          <%= form_for(@equipo, :html => {:class => 'col-md-10 col-md-offset-1 form-horizontal form-inline', :role => 'form'}) do |f| %>
              <% if @equipo.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@equipo.errors.count, "error") %> prohibited this equipo from being saved:</h2>

                    <ul>
                      <% @equipo.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <fieldset>
                <legend>
                  <div class="col-md-12">
                    <div class="col-md-9" style="padding-left: 0%"><%= t 'equipos.edit.fieldset_info_general' %></div>
                    <div class="col-md-3">
                      <%= link_to @equipo, :class => "btn-lg" do %>
                          <i class="glyphicon glyphicon-eye-open"></i>
                      <% end %> |
                      <%= link_to equipos_path, :class => "btn-lg" do %>
                          <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
                      <% end %>

                    </div>
                  </div>
                </legend>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-7">
                      <%= f.text_field :nombre, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'equipos.index.campo_nombre' %></span>
                    </div>

                    <div class="input-group col-md-3 col-md-offset-1">
                      <%= f.number_field :puntos, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'equipos.index.campo_puntos' %></span>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>
                  <div class="col-md-9"><%= t 'equipos.edit.fieldset_otros' %></div>
                </legend>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group col-md-12">
                      <%= f.text_area :descripcion, :class => 'form-control' %>
                      <span class="input-group-addon"><%= t 'equipos.index.campo_descripcion' %></span>
                    </div>
                  </div>
                </div>
                <br/>

                <div class="actions">
                  <%= f.submit "#{t 'reglas_especiales.index.actualizar_regla'}", :class => 'btn btn-default', :style => 'width:100%; background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
    background-repeat: repeat-x;' %>
                </div>
              </fieldset>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>