<div class="container">
  <div class="row">
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">

        <h1><%= t '.titulo_lista_equipo' %></h1>
      </div>
      <div class="col-md-4">
        <div class="col-md-6 col-md-offset-1">
          <%= link_to new_equipo_path, :class => 'btn btn-sm btn-default ' do %>
              <i class="glyphicon glyphicon-plus">
                <%= t '.nuevo_equipo' %>
              </i>
          <% end %>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <%= link_to root_path, :class => "btn btn-sm btn-default" do %>
              <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-responsive table-striped">
      <thead>
      <tr>
        <th><%= t '.campo_nombre' %></th>
        <th><%= t '.campo_descripcion' %></th>
        <th><%= t '.campo_puntos' %></th>
        <th colspan="3"><%= t 'common.acciones' %></th>
      </tr>
      </thead>

      <tbody>
      <% @equipos.each do |equipo| %>
          <tr>
            <td><%= equipo.nombre %></td>
            <td><%= equipo.descripcion %></td>
            <td><%= equipo.puntos %></td>
            <td><%= link_to equipo do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
              <% end %>
            </td>
            <td><%= link_to edit_equipo_path(equipo) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
            </td>
            <td><%= link_to equipo, method: :delete, data: {confirm: "#{t '.confirmacion' }"} do %>
              <i class="glyphicon glyphicon-remove"></i>
      <% end %>
      </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>