<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="well">
      <div class="media">
        <div class="media-body">

          <div style="float: left">
            <h4 class="media-heading">
              <b><%= @equipo.nombre %>: <%= t('.campo_puntos', count: @equipo.puntos.to_i ) %></b>
            </h4>
          </div>
          <div style="float: right">
            <%= link_to edit_equipo_path(@equipo) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
            <%= link_to equipos_path do %>
                <i class="glyphicon glyphicon-chevron-left"><%= t 'common.atras' %></i>
            <% end %>
          </div>
          <hr/>
          <p>
            <%= @equipo.descripcion %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
