<!DOCTYPE html>
<html>
<head>
  <title>ESDLA</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <!-- Si el usuario está logueado -->
  <% if current_user %>
      <div class="row col-md-12" style="margin-bottom: 5%">
        <div style="float: right">
          <%= t('common.logado') %> <%= link_to current_user.nombre, edit_usuario_path(current_user.id)  %>.
          <%= link_to t('common.deslogueo'), signed_out_path %>
        </div>
      </div>
  <% end %>

  <!-- Mensajes de la aplicación -->
    <% if !flash.empty? %>
      <% flash.each do |name, msg| %>
        <% if name=="error" %>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                  <span class="glyphicon glyphicon-ok"></span>
                  <hr class="message-inner-separator">
                  <p>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  </p>
                </div>
              </div>
            </div>
        <% else %>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3">
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                      ×</button>
                    <span class="glyphicon glyphicon-ok"></span>
                    <hr class="message-inner-separator">
                    <p>
                      <%= content_tag :div, msg, :id => "flash_#{name}" %>
                    </p>
                  </div>
                </div>
              </div>
        <% end %>
      <% end %>
    <% end %>

<%= yield %>



</div>

</body>
</html>
